body {
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,70,132,1) 83%);
}

.intro-p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: whitesmoke;
}

.start-btn {
    background-color: silver;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
